
<div class="content" role="main">
  <card-form-container> 
    <credit-card-input slot="credit-card"></credit-card-input>
    <card-expiration-input slot="expiration"></card-expiration-input>
    <cvv-input slot="cvv"></cvv-input>
    <card-holder-input slot="card-holder"></card-holder-input>
  </card-form-container>
  <div style="display: flex; flex-direction: column; margin-top: 8px;">
    <error-message>The card number is required</error-message>
  </div>  
</div>

<router-outlet></router-outlet>
